*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    display: flex;
    align-items: center; /*!mükemmel hizalama kodu birinci kısım*/
    justify-content: center; /*!mükemmel hizalama kodu ikinci kısım*/
    background-color: rgb(238, 231, 223);
    height: 100vh;
    overflow: hidden;
    font-family: 'Aldrich';
    
}

div::after {
    content: "";
    background:url(images/background-7533503_960_720.jpg);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

#sinav{
    width: 60rem;
    background-color: rgb(167, 155, 134);
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.2rem rgb(30, 32, 30);
    overflow: hidden;
}

.soruAlani{
    padding: 4rem;
}

h2{
    text-align: center;
    padding:3rem;
    font-size: 2rem;
}

ul{
    list-style-type: none;
}

ul li{
    font-size: 1.8rem;
    margin: 1rem 0.8rem;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: rgb(50, 51, 54);
    width: 100%;
    border: none;
    display: block;
    padding: 1.2rem;
    margin-top: 2rem;
    color: blanchedalmond;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover{
    background-color: darkolivegreen;
}

button:focus{
    background-color: rgb(54, 75, 17);
    outline: none;
}

.clock{
    position: relative;
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: large;
    color: rgb(78, 0, 0);
    font-weight: bold;
}