*{
    border: none;
}
form{
    margin: auto;
    width: 85%;
    display: grid;
    grid-template-columns: 110px auto;
    border: thin solid black;
    color:cadetblue;
}

input[type=button]{
    grid-column: 1/3;
    color:cadetblue;
    font-size: larger;
    font-weight: bold;
}
input[type=text]{
    width: 150px;
    height:fit-content;
    margin: 1rem 1rem 1rem 0.25rem;
    padding: auto;
    color: darkblue;
    font-size: larger;
}
select{
    max-width: 250px;
    margin: 0.25rem;
    color:cadetblue;    
}
h3,h5{
    text-align: center;
    color:cadetblue;
}

form>label{
    border-right: thin solid black;
    border-bottom: thin solid black;
    padding: 5px;

}
form#formPizza>span{
    border-top: thin solid black;
    border-bottom: thin solid black;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,45px);
    grid-template-rows: repeat(2,20px);
}
#indirim{
    border: 2px solid black;
}